# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# temp
.docker_temp_*
docker-images.**

# tmp/files
./tmp/

# editor config
.idea
# .vscode
.DS_Store

# secrets
.env.secrets

# other
*.bat