@import "@/app/global.module.scss";

.main {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  min-height: 100vh;
  width: 100%;

  &.navbar {
    padding-top: $pt-navbar-height;

    >.navigation {
      >ul {
        min-height: calc(100vh - $pt-navbar-height);
      }
    }

    >.content {
      min-height: calc(100vh - $pt-navbar-height);
    }
  }

  & :not(.navbar) {

    >.navigation {
      >ul {
        min-height: calc(100vh - 2px);
      }
    }

    >.content {
      min-height: 100vh;
    }
  }
}

.navigation {
  width: min-content;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 1em;
}

.code {
  background-color: black;
  padding: 1em;
}