@import "~@blueprintjs/core/lib/scss/variables";
@import "../style";

.controls {
  padding-top: 0rem;
  .error {
    color: $pt-intent-danger;
  }
  .list {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding-bottom: 1rem;
    .row {
      @include sp(div);
    }
  }
}
