services:
  # Proxy that can be configured for HTTP or HTTPS
  proxy:
    command:
      - --log.level=DEBUG
      - --api.insecure=true
      - --providers.docker=true
      - --providers.docker.exposedbydefault=false
      - --entrypoints.web.address=:80
      - --entrypoints.websecure.address=:443
      - --entrypoints.websecure.http.tls=true
      - --entrypoints.websecure.http.tls.certresolver=${CERT_RESOLVER}
      - --providers.file.directory=/etc/traefik/dynamic
      - --certificatesresolvers.letsencrypt.acme.tlschallenge=true
      - --certificatesresolvers.letsencrypt.acme.email=${ADMIN_EMAIL}
      - --certificatesresolvers.letsencrypt.acme.storage=/etc/certs/letsencrypt.json
    container_name: ${COMPOSE_PROJECT_NAME}-proxy
    depends_on:
      certs:
        condition: service_completed_successfully
    hostname: proxy
    image: traefik:v3.6.2
    labels:
      - traefik.tls.stores.default.defaultgeneratedcert.resolver=${CERT_RESOLVER}
      - traefik.tls.stores.default.defaultgeneratedcert.domain.main=${HOSTNAME}
      - traefik.tls.stores.default.defaultgeneratedcert.domain.sans=*.${HOSTNAME}
      - traefik.http.middlewares.sslheader.headers.customrequestheaders.X-Forwarded-Proto=https,wss
    ports:
      - 80:80
      - 443:443
      - ${TRAEFIK_TEST_PORT}:8080
    profiles:
      - proxy
    restart: unless-stopped
    user: root:root
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - certs-data:/etc/certs/
      - ./proxy/certs-traefik.yml:/etc/traefik/dynamic/certs-traefik.yml
      - ./proxy/volttron-transport.yml:/etc/traefik/dynamic/volttron-transport.yml

  # Application that hosts static files and API
  client:
    build:
      context: ../
      dockerfile: ./client/Dockerfile
      args:
        - HTTP_PROXY=${HTTP_PROXY}
        - HTTPS_PROXY=${HTTPS_PROXY}
        - NO_PROXY=${NO_PROXY}
        - NODE_TLS_REJECT_UNAUTHORIZED=${NODE_TLS_REJECT_UNAUTHORIZED}
    container_name: ${COMPOSE_PROJECT_NAME}-client
    depends_on:
      init:
        condition: service_completed_successfully
      database:
        condition: service_started
    # deploy:
    #   mode: replicated
    #   endpoint_mode: vip
    #   replicas: 2
    env_file:
      - .env.client
    healthcheck:
      test: "curl --fail http://localhost:3000 || exit 1"
      interval: 10s
      timeout: 10s
      retries: 120
    hostname: client
    image: ${COMPOSE_CONTAINER_REGISTRY}/${COMPOSE_PROJECT_NAME}/client:${TAG}
    labels:
      - traefik.enable=true
      - traefik.http.services.client.loadbalancer.server.port=3000
      - traefik.http.middlewares.client-security.headers.browserXssFilter=true
      - traefik.http.middlewares.client-security.headers.contentTypeNosniff=true
      - traefik.http.middlewares.client-security.headers.forceSTSHeader=true
      - traefik.http.middlewares.client-security.headers.frameDeny=true
      - traefik.http.middlewares.client-security.headers.referrerPolicy=same-origin
      - traefik.http.middlewares.client-security.headers.sslRedirect=true
      - traefik.http.middlewares.client-security.headers.stsSeconds=31536000
      - traefik.http.routers.client-http.entrypoints=web
      - traefik.http.routers.client-http.rule=Host(`${HOSTNAME}`)
      - traefik.http.routers.client-http.middlewares=client-https
      - traefik.http.middlewares.client-https.redirectscheme.scheme=https
      - traefik.http.routers.client.entrypoints=websecure
      - traefik.http.routers.client.rule=Host(`${HOSTNAME}`)
      - traefik.http.routers.client.middlewares=client-security
      - traefik.http.routers.client.priority=1
      - traefik.http.routers.client.tls=true
      - traefik.http.routers.client.tls.certresolver=${CERT_RESOLVER}
    ports:
      - ${CLIENT_TEST_PORT}:3000
    restart: unless-stopped
    volumes:
      - client-cache:/app/.next/cache

  # Runs application backend server
  server:
    build:
      context: ../
      dockerfile: ./server/Dockerfile
      args:
        - HTTP_PROXY=${HTTP_PROXY}
        - HTTPS_PROXY=${HTTPS_PROXY}
        - NO_PROXY=${NO_PROXY}
        - NODE_TLS_REJECT_UNAUTHORIZED=${NODE_TLS_REJECT_UNAUTHORIZED}
    container_name: ${COMPOSE_PROJECT_NAME}-server
    depends_on:
      init:
        condition: service_completed_successfully
      grafana-setup:
        condition: service_completed_successfully
      database:
        condition: service_started
    # deploy:
    #   mode: replicated
    #   endpoint_mode: vip
    #   replicas: 2
    env_file:
      - .env.server
    healthcheck:
      test: "curl http://localhost:3000/graphql"
      interval: 10s
      timeout: 10s
      retries: 120
    hostname: server
    image: ${COMPOSE_CONTAINER_REGISTRY}/${COMPOSE_PROJECT_NAME}/server:${TAG}
    labels:
      - traefik.enable=true
      - traefik.http.services.server.loadbalancer.server.port=3000
      - traefik.http.middlewares.server-security.headers.browserXssFilter=true
      - traefik.http.middlewares.server-security.headers.contentTypeNosniff=true
      - traefik.http.middlewares.server-security.headers.forceSTSHeader=true
      - traefik.http.middlewares.server-security.headers.frameDeny=true
      - traefik.http.middlewares.server-security.headers.referrerPolicy=same-origin
      - traefik.http.middlewares.server-security.headers.sslRedirect=true
      - traefik.http.middlewares.server-security.headers.stsSeconds=31536000
      - traefik.http.routers.server-http.entrypoints=web
      - traefik.http.routers.server-http.rule=Host(`${HOSTNAME}`)
      - traefik.http.routers.server-http.middlewares=server-https
      - traefik.http.middlewares.server-https.redirectscheme.scheme=https
      - traefik.http.routers.server.entrypoints=websecure
      - traefik.http.routers.server.rule=Host(`${HOSTNAME}`) && (PathPrefix(`/authjs`) || PathPrefix(`/graphql`) || PathPrefix(`/api`) || PathPrefix(`/ext`))
      - traefik.http.routers.server.middlewares=server-security
      - traefik.http.routers.server.tls=true
      - traefik.http.routers.server.tls.certresolver=${CERT_RESOLVER}
    ports:
      - ${SERVER_TEST_PORT}:3000
    restart: unless-stopped
    volumes:
      - file-upload:/app/upload/
      - grafana-setup:/app/grafana/:ro

  # Runs application services
  services:
    container_name: ${COMPOSE_PROJECT_NAME}-services
    depends_on:
      init:
        condition: service_completed_successfully
      database:
        condition: service_started
      grafana-setup:
        condition: service_completed_successfully
    env_file:
      - .env.services
    extra_hosts:
      - "host.docker.internal:host-gateway"
    healthcheck:
      test: "curl http://localhost:3000/graphql"
      interval: 10s
      timeout: 10s
      retries: 120
    hostname: services
    image: ${COMPOSE_CONTAINER_REGISTRY}/${COMPOSE_PROJECT_NAME}/server:${TAG}
    restart: unless-stopped
    volumes:
      - file-upload:/app/upload/
      - certs-data:/certs/:ro
      - grafana-setup:/app/grafana/:ro
      - ./volttron/setup/:/app/volttron/:ro

    # Runs application seeders
  seeders:
    container_name: ${COMPOSE_PROJECT_NAME}-seeders
    depends_on:
      init:
        condition: service_completed_successfully
      database:
        condition: service_started
    env_file:
      - .env.seeders
    healthcheck:
      test: "curl http://localhost:3000/graphql"
      interval: 10s
      timeout: 10s
      retries: 120
    hostname: seeders
    image: ${COMPOSE_CONTAINER_REGISTRY}/${COMPOSE_PROJECT_NAME}/server:${TAG}
    restart: on-failure:3
    volumes:
      - ./seed/:/app/seed/:ro

  # Runs relational database migrations on startup
  init:
    build:
      context: ../prisma
      dockerfile: ./Dockerfile
      args:
        - TAG=${TAG}
        - HTTP_PROXY=${HTTP_PROXY}
        - HTTPS_PROXY=${HTTPS_PROXY}
        - NO_PROXY=${NO_PROXY}
        - NODE_TLS_REJECT_UNAUTHORIZED=${NODE_TLS_REJECT_UNAUTHORIZED}
    container_name: ${COMPOSE_PROJECT_NAME}-init
    depends_on:
      database:
        condition: service_healthy
    env_file:
      - .env.init
    hostname: init
    image: ${COMPOSE_CONTAINER_REGISTRY}/${COMPOSE_PROJECT_NAME}/init:${TAG}

  # Creates self-signed TLS certs for localhost and domain
  certs:
    build:
      context: ./certs
      dockerfile: ./Dockerfile
      args:
        - HTTP_PROXY=${HTTP_PROXY}
        - HTTPS_PROXY=${HTTPS_PROXY}
        - NO_PROXY=${NO_PROXY}
        - NODE_TLS_REJECT_UNAUTHORIZED=${NODE_TLS_REJECT_UNAUTHORIZED}
    container_name: ${COMPOSE_PROJECT_NAME}-certs
    env_file:
      - .env.certs
    hostname: certs
    image: ${COMPOSE_CONTAINER_REGISTRY}/${COMPOSE_PROJECT_NAME}/certs:${TAG}
    volumes:
      - certs-data:/etc/certs/

  # Application relational database
  database:
    build:
      context: ./database
      dockerfile: ./Dockerfile
      args:
        - HTTP_PROXY=${HTTP_PROXY}
        - HTTPS_PROXY=${HTTPS_PROXY}
        - NO_PROXY=${NO_PROXY}
    cap_add:
      - SYS_NICE
    container_name: ${COMPOSE_PROJECT_NAME}-database
    env_file:
      - .env.database
    healthcheck:
      test: ["CMD-SHELL", "pg_isready"]
      interval: 10s
      timeout: 10s
      retries: 10
    hostname: database
    image: ${COMPOSE_CONTAINER_REGISTRY}/${COMPOSE_PROJECT_NAME}/database:${TAG}
    ports:
      - ${DATABASE_TEST_PORT}:5432
    restart: unless-stopped
    volumes:
      - database-data:/var/lib/postgresql/data

  # Redis
  redis:
    container_name: ${COMPOSE_PROJECT_NAME}-redis
    env_file:
      - .env.redis
    hostname: redis
    image: redis:6.2
    ports:
      - ${REDIS_TEST_PORT}:6379
    profiles:
      - redis
    restart: unless-stopped

  # Open Street Map Tiles
  maptiles:
    command: ["--port", "80", "--public_url", "/ext/map", "--verbose"]
    container_name: ${COMPOSE_PROJECT_NAME}-maptiles
    hostname: map
    image: maptiler/tileserver-gl:latest
    ports:
      - ${MAPTILES_TEST_PORT}:80
    profiles:
      - map
    restart: unless-stopped
    volumes:
      - ./map/:/data/

  # Nominatim container for geocoding
  nominatim:
    container_name: ${COMPOSE_PROJECT_NAME}-nominatim
    env_file:
      - .env.nominatim
    hostname: nominatim
    image: mediagis/nominatim:4.4
    ports:
      - ${NOMINATIM_TEST_PORT}:80
    profiles:
      - nom
    restart: unless-stopped
    shm_size: 1gb
    volumes:
      - nominatim-data:/var/lib/postgresql/14/main
      - nominatim-cache:/nominatim/cache
      - ./map/:/nominatim/data/

  # Wiki container
  wiki:
    container_name: ${COMPOSE_PROJECT_NAME}-wiki
    depends_on:
      init:
        condition: service_completed_successfully
      wiki-db:
        condition: service_started
    env_file:
      - .env.wiki
    hostname: wiki
    image: lscr.io/linuxserver/bookstack:25.11.5
    ports:
      - ${BOOKSTACK_TEST_PORT}:80
    profiles:
      - wiki
    restart: unless-stopped
    volumes:
      - wiki-data:/config
      - wiki-storage:/storage
      - ./certs/:/etc/certs/:ro
      - ./wiki/init-wiki.sh:/custom-cont-init.d/init-wiki.sh:ro

  # Wiki database
  wiki-db:
    container_name: ${COMPOSE_PROJECT_NAME}-wiki-db
    env_file:
      - .env.wiki
    hostname: wiki-db
    image: lscr.io/linuxserver/mariadb:11.4.8
    ports:
      - ${BOOKSTACK_DATABASE_TEST_PORT}:3306
    profiles:
      - wiki
    restart: unless-stopped
    volumes:
      - wiki-data:/config

  # Keycloak for single sign-on
  keycloak:
    build:
      context: ./keycloak
      dockerfile: ./Dockerfile
      args:
        - HTTP_PROXY=${HTTP_PROXY}
        - HTTPS_PROXY=${HTTPS_PROXY}
        - NO_PROXY=${NO_PROXY}
    container_name: ${COMPOSE_PROJECT_NAME}-keycloak
    depends_on:
      keycloak-db:
        condition: service_healthy
    env_file:
      - .env.keycloak
    hostname: keycloak
    image: ${COMPOSE_CONTAINER_REGISTRY}/${COMPOSE_PROJECT_NAME}/keycloak:${TAG}
    labels:
      - traefik.enable=true
      - traefik.http.services.keycloak.loadbalancer.server.port=8080
      - traefik.http.middlewares.keycloak-security.headers.browserXssFilter=true
      - traefik.http.middlewares.keycloak-security.headers.contentTypeNosniff=true
      - traefik.http.middlewares.keycloak-security.headers.forceSTSHeader=true
      - traefik.http.middlewares.keycloak-security.headers.frameDeny=false
      - traefik.http.middlewares.keycloak-security.headers.referrerPolicy=same-origin
      - traefik.http.middlewares.keycloak-security.headers.sslRedirect=true
      - traefik.http.middlewares.keycloak-security.headers.stsSeconds=31536000
      - traefik.http.routers.keycloak-http.entrypoints=web
      - traefik.http.routers.keycloak-http.rule=Host(`${HOSTNAME}`) && (PathPrefix(`/auth/sso/js/`) || PathPrefix(`/auth/sso/realms/`) || PathPrefix(`/auth/sso/resources/`) || PathPrefix(`/auth/sso/robots.txt`))
      - traefik.http.routers.keycloak-http.middlewares=keycloak-https
      - traefik.http.middlewares.keycloak-https.redirectscheme.scheme=https
      - traefik.http.routers.keycloak.entrypoints=websecure
      - traefik.http.routers.keycloak.rule=Host(`${HOSTNAME}`) && (PathPrefix(`/auth/sso/js/`) || PathPrefix(`/auth/sso/realms/`) || PathPrefix(`/auth/sso/resources/`) || PathPrefix(`/auth/sso/robots.txt`))
      - traefik.http.routers.keycloak.middlewares=keycloak-security
      - traefik.http.routers.keycloak.tls=true
      - traefik.http.routers.keycloak.tls.certresolver=${CERT_RESOLVER}
      - traefik.http.routers.keycloak-admin.entrypoints=websecure
      - traefik.http.routers.keycloak-admin.rule=Host(`${HOSTNAME}`) && PathPrefix(`/auth/sso/admin/`)
      - traefik.http.routers.keycloak-admin.middlewares=keycloak-security
      - traefik.http.routers.keycloak-admin.tls=true
      - traefik.http.routers.keycloak-admin.tls.certresolver=${CERT_RESOLVER}
    ports:
      - ${KEYCLOAK_TEST_PORT}:8080
    profiles:
      - sso
    restart: unless-stopped
    volumes:
      - keycloak-cache:/opt/jboss/keycloak/standalone/data

  # Keycloak database
  keycloak-db:
    cap_add:
      - SYS_NICE
    container_name: ${COMPOSE_PROJECT_NAME}-keycloak-db
    env_file:
      - .env.keycloak
    healthcheck:
      test: ["CMD-SHELL", "pg_isready"]
      interval: 10s
      timeout: 10s
      retries: 10
    hostname: keycloak-db
    image: postgres:16-alpine
    profiles:
      - sso
    restart: unless-stopped
    volumes:
      - keycloak-data:/var/lib/postgresql/data

  # Creates Grafana dashboard configurations
  grafana-setup:
    container_name: ${COMPOSE_PROJECT_NAME}-grafana-setup
    depends_on:
      grafana:
        condition: service_healthy
      keycloak:
        condition: service_started
        required: false
    environment:
      - SETUP_MODE=grafana
    env_file:
      - .env.grafana
    hostname: grafana-setup
    image: ${COMPOSE_CONTAINER_REGISTRY}/${COMPOSE_PROJECT_NAME}/setup:${TAG}
    profiles:
      - grafana
    restart: no
    volumes:
      - ./.env.grafana:/home/aems-app/docker/.env.grafana:ro
      - grafana-setup:/home/user/setup/

  # Grafana
  grafana:
    build:
      context: ./grafana
      dockerfile: Dockerfile
      args:
        - HTTP_PROXY=${HTTP_PROXY}
        - HTTPS_PROXY=${HTTPS_PROXY}
        - NO_PROXY=${NO_PROXY}
    container_name: ${COMPOSE_PROJECT_NAME}-grafana
    depends_on:
      certs:
        condition: service_completed_successfully
      grafana-db:
        condition: service_started
    env_file:
      - .env.grafana
    healthcheck:
      test: ["CMD-SHELL", "curl -f http://localhost:3000/api/health || exit 1"]
      interval: 5s
      timeout: 5s
      retries: 20
      start_period: 30s
    hostname: grafana
    image: ${COMPOSE_CONTAINER_REGISTRY}/${COMPOSE_PROJECT_NAME}/grafana:${TAG}
    labels:
      - traefik.enable=true
      - traefik.http.services.grafana.loadbalancer.server.port=3000
      - traefik.http.middlewares.grafana-security.headers.browserXssFilter=true
      - traefik.http.middlewares.grafana-security.headers.contentTypeNosniff=true
      - traefik.http.middlewares.grafana-security.headers.forceSTSHeader=true
      - traefik.http.middlewares.grafana-security.headers.frameDeny=true
      - traefik.http.middlewares.grafana-security.headers.referrerPolicy=same-origin
      - traefik.http.middlewares.grafana-security.headers.sslRedirect=true
      - traefik.http.middlewares.grafana-security.headers.stsSeconds=31536000
      - traefik.http.middlewares.grafana-stripprefix.stripprefix.prefixes=/grafana
      - traefik.http.routers.grafana-http.entrypoints=web
      - traefik.http.routers.grafana-http.rule=Host(`${HOSTNAME}`) && PathPrefix(`/grafana`)
      - traefik.http.routers.grafana-http.middlewares=grafana-https
      - traefik.http.middlewares.grafana-https.redirectscheme.scheme=https
      - traefik.http.routers.grafana.entrypoints=websecure
      - traefik.http.routers.grafana.rule=Host(`${HOSTNAME}`) && PathPrefix(`/grafana`)
      - traefik.http.routers.grafana.middlewares=grafana-security
      - traefik.http.routers.grafana.priority=100
      - traefik.http.routers.grafana.tls=true
      - traefik.http.routers.grafana.tls.certresolver=${CERT_RESOLVER}
    ports:
      - ${GRAFANA_TEST_PORT}:3000
    profiles:
      - grafana
    restart: unless-stopped
    user: root
    volumes:
      - grafana-cache:/var/lib/grafana
      - certs-data:/etc/certs/:ro

  # Grafana database
  grafana-db:
    container_name: ${COMPOSE_PROJECT_NAME}-grafana-db
    env_file:
      - .env.grafana
    hostname: grafana-db
    image: postgres:16-alpine
    ports:
      - ${GRAFANA_DATABASE_TEST_PORT}:5432
    profiles:
      - grafana
    restart: unless-stopped
    volumes:
      - grafana-data:/var/lib/postgresql/data

  # Creates Volttron configurations on startup
  volttron-setup:
    build:
      context: ../../aems-edge
      dockerfile: ./Dockerfile
      args:
        - HTTP_PROXY=${HTTP_PROXY}
        - HTTPS_PROXY=${HTTPS_PROXY}
        - NO_PROXY=${NO_PROXY}
    container_name: ${COMPOSE_PROJECT_NAME}-volttron-setup
    environment:
      - SETUP_MODE=volttron
    env_file:
      - .env.volttron
    hostname: volttron-setup
    network_mode: host
    image: ${COMPOSE_CONTAINER_REGISTRY}/${COMPOSE_PROJECT_NAME}/setup:${TAG}
    restart: no
    volumes:
      - ./.env.volttron:/home/aems-app/docker/.env.volttron:ro
      - volttron-setup:/home/user/setup/
      - ./volttron/setup/:/home/user/volttron/

  # Volttron - runs on host network for direct access
  volttron:
    container_name: ${COMPOSE_PROJECT_NAME}-volttron
    depends_on:
      certs:
        condition: service_completed_successfully
      volttron-setup:
        condition: service_completed_successfully
    env_file:
      - .env.volttron
    hostname: volttron
    image: eclipsevolttron/volttron-aems-ilc
    network_mode: host
    profiles:
      - volttron
    pull_policy: always
    restart: unless-stopped
    volumes:
      - volttron-data:/home/volttron/db
      - ./volttron/setup/configs/:/home/volttron/configurations/
      - ./volttron/setup/configs/platform_config.yml:/platform_config.yml
      - ./volttron/logs/:/home/volttron/logs/


volumes:
  certs-data:
    driver: local
  client-cache:
    driver: local
  file-upload:
    driver: local
  database-data:
    driver: local
  nominatim-cache:
    driver: local
  nominatim-data:
    driver: local
  wiki-data:
    driver: local
  wiki-storage:
    driver: local
  keycloak-cache:
    driver: local
  keycloak-data:
    driver: local
  volttron-setup:
    driver: local
  volttron-data:
    driver: local
  grafana-setup:
    driver: local
  grafana-cache:
    driver: local
  grafana-data:
    driver: local
