{
    "campus": "PNNL",
    "building": "ROB",
    "system": "TSTAT",
    "system_status_point": "OccupancyCommand",
    "setpoint_control": 0,
    "local_tz": "",
    "zone_point_names": {
        "zonetemperature": "ZoneTemperature",
        "coolingsetpoint": "OccupiedCoolingSetPoint",
        "heatingsetpoint": "OccupiedHeatingSetPoint",
        "supplyfanstatus": "SupplyFanStatus",
        "outdoorairtemperature": "OutdoorAirTemperature",
        "heating": "FirstStageHeating",
        "cooling": "FirstStageCooling"
    },
    "default_setpoints": {
        "UnoccupiedHeatingSetPoint": 65,
        "UnoccupiedCoolingSetPoint": 78, 
        "DeadBand": 3,
        "OccupiedSetPoint": 71
    },
    "optimal_start": {
        "earliest_start_time": 60,
        "latest_start_time": 10,
        "optimal_start_lockout_temperature": 30
    },
    "schedule": {
        "Monday": {
            "start": "6:30",
            "end": "18:00"
        },
        "Tuesday": {
            "start": "6:30",
            "end": "18:00"
        },
        "Wednesday": {
            "start": "6:30",
            "end": "18:00"
        },
        "Thursday": {
            "start": "6:30",
            "end": "18:00"
        },
        "Friday": {
            "start": "6:30",
            "end": "18:00"
        },
        "Saturday": "always_off",
        "Sunday": "always_off"
    },
    "occupancy_values": {
        "occupied": 1,
        "unoccupied": 0
    }
}
