@import "normalize.css";
@import "~@blueprintjs/core/lib/css/blueprint.css";
@import "~@blueprintjs/icons/lib/css/blueprint-icons.css";
@import "~@blueprintjs/select/lib/css/blueprint-select.css";
@import "~@blueprintjs/table/lib/css/table.css";
@import "~@blueprintjs/datetime/lib/css/blueprint-datetime.css";
@import "~@blueprintjs/select/lib/css/blueprint-select.css";
@import "~@blueprintjs/datetime2/lib/css/blueprint-datetime2.css";

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  white-space: pre-wrap;
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.bp5-dark {
  scrollbar-color: #8f99a8 #2f343c;

  .maplibregl-ctrl,
  .maplibregl-ctrl-attrib.maplibregl-compact-show,
  .maplibregl-ctrl-attrib.maplibregl-compact .maplibregl-ctrl-attrib-button,
  .maplibregl-ctrl-attrib.maplibregl-compact-show .maplibregl-ctrl-attrib-inner {
    background-color: #c5cbd3;
  }
}

/* Welcome page styles */
/* Target the wrapper div created by Custom component */
div:has(> .welcome-container) {
  width: 100%;
  align-self: flex-start;
}

.welcome-container {
  padding: 20px;
  align-self: flex-start;
  width: 100%;
}

.welcome-content {
  max-width: 800px;
  width: 100%;
}

.welcome-content img {
  width: 100%;
  max-width: 800px;
  height: auto;
  margin-bottom: 20px;
  border-radius: 4px;
  display: block;
}

.welcome-content h3 {
  margin-top: 30px;
  margin-bottom: 15px;
}

.welcome-content p {
  line-height: 1.6;
  margin-bottom: 15px;
}

.welcome-content a {
  color: inherit;
  text-decoration: underline;
}

.welcome-footer {
  margin-top: 30px;
  padding-top: 20px;
  border-top: 1px solid #ddd;
  font-size: 0.9em;
  color: #666;
}
