@import "@blueprintjs/core/lib/scss/variables";
@import "@/app/global.module.scss";

.dark {
    background-color: $pt-dark-app-background-color;
}

.theme {

    // fixme: this selector isn't working
    >div[color-scheme=dark] {
        @extend .dark;
    }
}

.compact {
    min-width: 37px;
    width: auto;
}

.table {
    td {
        word-break: break-word;
    }
}

.mapSpinner {
    height: 100%;

    >div {
        position: absolute;
        right: 8px;
        top: 0;
        bottom: 0;
        margin: auto 0;
    }

    >div[hidden] {
        display: none !important;
    }
}

.maptype-container {
    display: none;
}

.maptype {
    margin: 10px 0 0 10px;

    button {
        display: inherit !important;
    }
}

.notice {
    text-align: center;
    min-width: 400px;
    width: 60%;
}

.label {
    >input {
        text-align: center;
    }
}

.loading {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

button.color {
    padding: 0px;
}

.iconRect {
    >svg {
        >rect {
            fill: $pt-icon-color;
        }
    }
}

.iconText {
    >svg {
        >text {
            font-size: 12px;
            fill: $pt-dark-text-color
        }
    }
}


.file {
    width: 150px;
    height: 150px;
    box-shadow: $pt-elevation-shadow-0;
    background-color: $light-gray4;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;

    .fileActions {
        background-color: $light-gray5;
        box-shadow: $pt-elevation-shadow-0;
        border-radius: 4px;
        position: absolute;
        top: 5px;
        right: 5px;
        display: flex;
        gap: 5px;
        z-index: 10;
    }

    .unknown {
        display: flex;
        flex-direction: column;
        align-items: center;
        color: $gray4;
    }
}

.exitButton {
    position: absolute;
    top: $pt-grid-size;
    right: $pt-grid-size;
    z-index: 10;
    background-color: $light-gray5;
    box-shadow: $pt-elevation-shadow-0;
}

.image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* Default to cover */
    object-position: center;
    transition: object-fit 0.3s ease;
    /* Smooth transition for object-fit change */
}

.image.expand {
    object-fit: contain;
}

.filePreviews {
    width: 100%;
    overflow-x: auto;

    .scroll {
        padding: 0.25rem;
        display: flex;
        gap: 0.5rem;
    }
}