@import "@/app/global.module.scss";

.feedbackModal {
    z-index: 10;
    position: fixed;
    display: flex;
    bottom: 0;
    right: 0;
    margin-bottom: 6rem;
    margin-right: 1rem;
    width: 28rem;
    background-color: $white;
    z-index: 10;
}

.widgetContainer {
    z-index: 10;
    position: fixed;
    bottom: 0;
    right: 0;
    margin-bottom: 1rem;
    margin-right: 1rem;
    padding: 1rem;
}

.messageField {
    resize: none;
    width: auto;
    height: 6rem !important;
}

.feedbackForm {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 1rem;
}

.header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: baseline;
}

.body {
    display: flex;
    flex-direction: column;
}

.footer {
    margin-top: 0.5rem;
    display: flex;
    width: 100%;
    justify-content: flex-end;
}

.buttonWrapper {
    height: 2rem;
    display: flex;
}

.fileUploadButton {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.fileUploadContainer {
    position: relative;
    height: 100px; /* Adjust the height as needed */
    overflow-y: scroll;
    border-radius: 4px;
    border: 1px dashed #ccc;
    margin: 0.5rem 0;
    padding: 0.5rem;
}

.fileList {
    list-style: none;
    padding: 0 4px 0 0;
    margin: 0;
    gap: 0.5rem;
    display: flex;
    flex-direction: column;
}

.fileHeader {
    display: flex;
    gap: 0.4rem;
    max-width: 320px;
}

.fileItem {
    height: 30px;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    padding: 0.5rem;
    border: 1px solid;
    border-radius: 4px;
}

.fileUploadPlaceholderText {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none;
    color: $gray1
}